// Shared
DB_URL=<POSTGRES CONN STRING>
AMQP_URL=<RABBITMQ CONN STRING DEFAULT "amqp://guest:guest@localhost/">

// Master Node
HOST=<HTTP HOST>
PORT=<HTTP PORT DEFAULT "5723">

// Slave Node
HOLTER_URL=<MASTER NODE URL DEFAULT "http://localhost:5723">